<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<style>
		#button{
			width:320px;
			color: white;
			background-color: blue;
			border-radius: 20px;
		}
		table{
			border-collapse: collapse;
		}
	</style>
	<script src="{{url_for('static',filename='jquery.js')}}"></script>
	<script>
		$(document).ready(function(){
			$("#button").click(function(){
				newp = $("#np").val()
				conp = $("#cp").val()
				if(newp==conp)
				{
					$.post("http://localhost:5000/changepassword",
					{
						idno : $("#idno").val(),
						newpassword : newp,
						oldpassword : $("#op").val(),
						confirmpassword : conp,
						crossDomain : true,
					},
					function(data,status)
					{
						output_data = data['data']
						alert(output_data)
					}).fail(function(xhr,error){
						output_data = jQuery.parseJSON(xhr.responseText)
						alert(output_data['error'])
					});
				}
				else
				{
					$("#result").text("newpassword and confirmpassword should be same")
				}
			});
		});
	</script>
</head>
<body>
	<pre>					<img src="../static/cse_logo.png" align="center"/></pre><br>
	<h4 align="center" id="result" style="color: red"></h4>
	<table align="center" border="2" cellpadding="10" bgcolor="lightgrey">
		<tr>
			<th>
				<form>
				<p align="left">ID.NO<br><input id = "idno"type="textbox" name="Idno" val="Idno" size="25">
				<p align="left">old password<br><input id = "op"type="password" name="old password" val="old password" size="25">
				<p align="left">New password<br><input id = "np" type="password" name="new password" val="new password" size="25"></p>
				<p align="left">confirm password<br><input type="password" id = "cp" name="confirmpassword" val="confirmpassword" size="25"></p>
				<button id="button" type="button">DONE</button>
				</form>
			</th>
		</tr>
	</table>
</body>
</html>